@font-face {
    font-family: 'Besley';
    src: url('Besley-BoldItalic.woff2') format('woff2'),
        url('Besley-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

