@font-face {
    font-family: 'Besley';
    src: url('subset-Besley-Bold.woff2') format('woff2'),
        url('subset-Besley-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

