@font-face {
    font-family: 'Besley';
    src: url('subset-Besley-Italic.woff2') format('woff2'),
        url('subset-Besley-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

