@font-face {
    font-family: 'Besley';
    src: url('Besley-Regular.woff2') format('woff2'),
        url('Besley-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

